/* 

Flex Template 

http://www.templatemo.com/tm-406-flex

*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

body {
    line-height: 1;
}

.blue {
    color: #06C;
}

.green {
    color: #090;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

html {
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

a:focus {
    outline: none;
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
img {
    display: block;
}

audio,
canvas,
video {
    display: inline-block;
    *display: inline;
    *zoom: 1;
}

audio:not([controls]) {
    display: none;
}

sub,
sup {
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -.5em;
}

sub {
    bottom: -.25em;
}

img {
    border: 0;
    -ms-interpolation-mode: bicubic;
}

button,
input,
select,
textarea {
    font-size: 100%;
    margin: 0;
    vertical-align: baseline;
    *vertical-align: middle;
}

button,
input {
    line-height: normal;
    *overflow: visible;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    cursor: pointer;
    -webkit-appearance: button;
}

input[type="search"] {
    -webkit-appearance: textfield;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

input[type="search"]:-webkit-search-decoration {
    -webkit-appearance: none;
}

textarea {
    overflow: auto;
    vertical-align: top;
}

body {
    font-family: "Open Sans", Arial, sans-serif;
    font-size: .83em;
    line-height: 1.75;
    color: #666666;
    background-color: white;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

a {
    color: #3c7cc2;
    text-decoration: none;
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
}

a:hover {
    color: black;
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Open Sans", Arial, sans-serif;
    color: #444444;
}

*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

button,
input,
select,
textarea {
    border: 1px solid #d5d5d5;
    outline: 0;
    padding: 10px 12px;
    color: #666666;
}

button:focus,
input:focus,
select:focus,
textarea:focus {
    border-color: #666666;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.main-btn {
    color: white;
    border: 1px solid white;
    padding: 12px 20px;
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #e2e2e2;
    margin: 40px 0;
}

.site-header ul.social-icons {
    position: relative;
    z-index: 11;
    margin: 30px 0;
}

.site-header ul.social-icons li {
    display: inline-block;
    margin: 0 2px;
}

.site-header ul.social-icons li a {
    width: 36px;
    height: 36px;
    background-color: white;
    color: #444444;
    text-align: center;
    line-height: 36px;
    border-radius: 18px;
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
}

.main-header {
    position: fixed;
    width: 100%;
    margin: 0 auto;
    z-index: 1000;
    top: 45px;
    -webkit-transition: all 150ms ease-in-out;
    -moz-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
}

.scrolled {
    position: fixed;
    left: 0;
    top: 0;
    -webkit-transition: all 150ms ease-in-out;
    -moz-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
}

#menu-wrapper {
    background-color: white;
    overflow: hidden;
    -moz-box-shadow: 1px 1px 3px 2px rgba(0, 0, 0, 0.07);
    -webkit-box-shadow: 1px 1px 3px 2px rgba(0, 0, 0, 0.07);
    box-shadow: 1px 1px 3px 2px rgba(0, 0, 0, 0.07);
}

.logo-wrapper {
    background: url(../images/logo.gif) no-repeat;
    height: 100px;
    background-position: 30px;
    background-size: 90px;
}

.logo-wrapper a {
    display: inline-block;
    overflow: hidden;
    padding-left: 130px;
    line-height: 100px;
    text-transform: uppercase;
    color: #3c7cc2;
    font-size: 32px;
    font-weight: 700;
}

.main-menu ul li {
    display: inline-block;
    margin: 0 20px;
}

.main-menu ul li:last-child {
    margin-right: 35px;
}

.main-menu ul li a {
    text-transform: uppercase;
    font-size: 14px;
    color: #444444;
    line-height: 100px;
    padding-top: 37px;
}

.main-menu ul li.active a {
    border-top: 3px solid #3c7cc2;
    color: #3c7cc2;
}

.toggle-menu {
    width: 36px;
    height: 36px;
    float: right;
    margin-top: 33px;
    margin-right: 30px;
    text-align: center;
    line-height: 36px;
    font-size: 14px;
    background: #3c7cc2;
    display: inline-block;
    color: white;
    cursor: pointer;
}

/*.menu-responsive {
  display: none;
  background-color: rgba(50, 50, 50, 0.88);
}
.menu-responsive ul li {
  padding: 5px 0px 5px 25px;
}
.menu-responsive ul li a {
  display: block;
  color: white;
  text-transform: uppercase;
  font-size: 14px;
}
.menu-responsive ul li.active a {
  color: #3c7cc2;
}*/

.flexslider {
    position: relative;
    top: -96px;
}

.flexslider .overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 8;
    background: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 100%;
}

.flexslider .slider-caption {
    position: absolute;
    z-index: 9;
    width: 100%;
    text-align: center;
    top: 280px;
    left: 0;
}

.flexslider .slider-caption h2 {
    color: white;
    text-transform: uppercase;
    font-size: 36px;
    font-weight: 700;
    border-bottom: 1px solid white;
    padding-bottom: 10px;
    display: inline-block;
}

.flexslider .slider-caption p {
    color: white;
    text-transform: uppercase;
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 26px;
    display: block;
}

.flexslider .slider-caption a.slider-btn {
    color: white;
    background-color: #3c7cc2;
    padding: 12px 20px;
    border-radius: 4px;
    text-transform: uppercase;
    font-weight: 700;
}

@media screen and (min-width: 989px) {
    .flexslider .slider-caption {
        top: 130px;
    }
}

@media screen and (min-width: 1200px) {
    .flexslider .slider-caption {
        top: 280px;
    }
}

@media screen and (max-width: 1199px) {
    .main-menu ul li {
        margin-left: 15px;
        margin-right: 15px;
    }

    .main-menu ul li:last-child {
        margin-right: 30px;
    }
}

@media screen and (max-width: 991px) {
    .logo-wrapper {
        background-size: contain;
    }

    .logo-wrapper {
        height: 50px;
    }

    .logo-wrapper a {
        line-height: 50px;
        padding-left: 70px;
    }

    .toggle-menu {
        margin-top: 7px;
        margin-right: 10px;
    }

    .main-menu ul li {
        display: block;
    }

    .menu-first.show {
        /*opacity: 1;*/
        /*height: auto;  */
        margin-top: 10px;
        display: block;
        /*transition: opacity 1s, height 0;*/
    }

    .menu-first {
        float: right;
        overflow: auto;
        width: 100%;
        display: none;
        /*opacity: 1;  */
        /*height: 0;  */
        /*background: rgba(50, 50, 50, 0.88);*/
        /*transition: opacity 1s, height 0 1s; */
        /*transition: all 0.3s ease;    */
    }

    .main-menu ul li a {
        line-height: 40px;
        padding-top: 10px;
    }

    .main-menu ul li.active a {
        border-top: none;
    }

    .main-menu ul li:last-child {
        margin-right: 20px;
    }
}

.site-slider {
    margin-bottom: -60px;
}

@media screen and (max-width: 767px) {
    .main-header {
        top: 0;
    }

    .site-header {
        margin-top: 40px;
    }

    .logo-wrapper {
        float: left;
    }

    .menu-first {
        margin-top: 0;
    }

    .flexslider {
        margin-top: 80px;
    }
}

@media screen and (max-height: 500px) {
    .menu-first.show {
        max-height: 250px;
        padding-right: 15px;
    }
}

.content-section {
    margin-top: 80px;
    padding-top: 60px;
}

.heading-section {
    margin-bottom: 60px;
}

.heading-section h2 {
    font-size: 28px;
    font-weight: 600;
    text-transform: uppercase;
    border-bottom: 1px solid #444444;
    display: inline-block;
}

.heading-section p {
    color: #444444;
    font-size: 16px;
    font-weight: 300;
    text-transform: uppercase;
    margin-top: 10px;
}

.small-text {
    color: #aaaaaa;
}

.space-fixed {
    width: 100%;
    height: 130px;
    overflow: hidden;
    position: relative;
}

.content-section#services {
    margin-top: 0px;
}

.service-item {
    position: relative;
    color: white;
    text-align: center;
    margin-bottom: 30px;
}

.service-item a {
    color: #ffff66;
}

.service-item a:hover {
    color: black;
}

.service-item .service-icon {
    font-size: 3em;
    padding: 110px 0;
}

.service-item .service-content {
    padding: 10px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
}

.service-item .service-content .inner-service {
    padding: 20px;
}

.service-item .service-content h3 {
    font-size: 18px;
    text-transform: uppercase;
    color: white;
    display: inline-block;
    padding-bottom: 10px;
    border-bottom: 1px solid white;
    margin-bottom: 15px;
}

.service-item:hover .service-icon {
    opacity: 0;
    visibility: hidden;
}

.service-item:hover .service-content {
    opacity: 1;
    visibility: visible;
}

#service-1 {
    background-color: #1abc9c;
}

#service-2 {
    background-color: #e67e22;
}

#service-3 {
    background-color: #3498db;
}

#service-4 {
    background-color: #2ecc71;
}

.portfolio-item {
    margin-bottom: 30px;
}

.portfolio-item .portfolio-thumb {
    position: relative;
    overflow: hidden;
}

.portfolio-item .portfolio-thumb img {
    width: 100%;
}

.portfolio-item .portfolio-thumb .portfolio-overlay {
    background-color: #3c7cc2;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding: 25px;
    text-align: center;
    color: white;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
}

.portfolio-item .portfolio-thumb .portfolio-overlay h3 {
    font-size: 18px;
    text-transform: uppercase;
    color: white;
    padding-bottom: 10px;
    margin-bottom: 10px;
    display: inline-block;
    border-bottom: 1px solid white;
}

.portfolio-item .portfolio-thumb .portfolio-overlay a.expand {
    margin-top: 15px;
    width: 36px;
    height: 36px;
    border-radius: 18px;
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    background-color: white;
    display: inline-block;
    text-align: center;
}

.portfolio-item .portfolio-thumb .portfolio-overlay a.expand i {
    line-height: 36px;
}

.portfolio-item .portfolio-thumb:hover .portfolio-overlay {
    opacity: 1;
    visibility: visible;
}

.team-member {
    margin-bottom: 30px;
}

.team-member .member-thumb {
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
}

.team-member .member-thumb img {
    width: 100%;
}

.team-member .member-thumb .team-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    text-align: center;
    top: 0;
    left: 0;
    background-color: #3c7cc2;
    color: white;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
}

.team-member .member-thumb .team-overlay h3 {
    font-size: 18px;
    text-transform: uppercase;
    color: white;
    display: inline-block;
    padding-bottom: 10px;
    border-bottom: 1px solid white;
    margin-top: 64px;
}

.team-member .member-thumb .team-overlay span {
    text-transform: uppercase;
    font-weight: 300;
    margin-top: 10px;
    display: block;
}

.team-member .member-thumb .team-overlay ul.social {
    display: block;
    margin-top: 20px;
}

.team-member .member-thumb .team-overlay ul.social li {
    display: inline-block;
}

.team-member .member-thumb .team-overlay ul.social li a {
    width: 36px;
    height: 36px;
    background-color: white;
    line-height: 40px;
    color: #3c7cc2;
    border-radius: 18px;
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
}

.team-member .member-thumb:hover .team-overlay {
    opacity: 1;
    visibility: visible;
}

.skills-heading {
    margin-top: 60px;
    margin-bottom: 50px;
}

.skills-heading h3.skills-title {
    font-style: italic;
    font-size: 18px;
    text-transform: uppercase;
    color: #5e5e5e;
}

.skills-heading .small-text {
    font-style: italic;
}

.progress {
    height: 34px;
    box-shadow: none;
    border-radius: 0;
    background-color: #e7e7e7;
    margin-bottom: 10px;
}

.progress-bar {
    line-height: 34px;
    text-align: left;
    padding-left: 15px;
    text-transform: uppercase;
    font-weight: 700;
    background-color: #3c7cc2;
    box-shadow: none;
}

.googlemap-wrapper {
    height: 380px;
    margin-bottom: 40px;
}

.map-canvas {
    height: 380px;
    border: 10px solid #efefef;
}

.contact-info {
    margin-top: 40px;
}

.contact-form input {
    width: 100%;
    margin-bottom: 15px;
}

.contact-form textarea {
    width: 100%;
    max-width: 100%;
    height: 120px;
}

.contact-form .mainBtn {
    margin-top: 15px;
    color: white;
    background-color: #3c7cc2;
    text-transform: uppercase;
    border: 0;
}

#go-top {
    background-color: #3c7cc2;
    color: white;
    padding: 15px 40px;
    text-transform: uppercase;
    font-weight: 700;
}

#footer {
    margin-top: 230px;
}

.container > .row > h1 {
    font-size: 42px;
    margin-bottom: 16px;
    padding-left: 12px;
}

/*
body, p, div, h1, h2, h3, h4, h5, h6 {
	font-family: "Open Sans", Arial, Verdana, Geneva, sans-serif;
   	font-style: normal;
}
*/